html,
body{
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: url(coding.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-dark {
  background-color: #ef7e4c;
}

h1{
  font-size: 2rem;
  color: white;
  animation: infinite bounceIn;
  animation-duration: 10s
}


hr{
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #ef7e4c;
  max-width: 150px;
  border-radius: 300px;
}


.buffer{
  height: 15rem;
}

.btn-xl{
  padding: 1rem 2rem;
}

.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary{
  background-color: #ef7e4c;
  border-color:#ef7e4c;
  transition: all .2s ease-in-out;
  /* animation: infinite tada; */
  /* animation-duration: 2s; */
}

.btn-primary:hover{
  background-color: #ef7e4c;
  border-color: #ef7e4c;
   transform: scale(1.1);
}
